* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  min-width: 320px;
  min-height: 100vh;

  margin: 0;

  background: #fff9ee;
  color: #3d3a34;

  font-family: Arial, sans-serif;

  overflow-x: hidden;
}

button,
input,
textarea,
select {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}